ul {
  background: green;
  border: 5px solid black; }

body {
  background: yellow;
  -webkit-columns: 300px 2;
          columns: 300px 2; }

.nope {
  border: 5px solid black;
  background: orange; }
